
html, body {
	margin: 0;
	padding: 0;
	background-color: #f6f6f6;
	font-family: Roboto, sans-serif;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

svg {
	display: block;
	background-color: #fff;
	border: 1px solid #cdcdcd;
}

svg rect.bar {
	opacity: 0.2;
}

svg rect.bar:hover {
	opacity: 0.5;
}

svg text.progress {
	text-anchor: start;
	dominant-baseline: hanging;
	font-size: .8rem;
	font-weight: 700;
}

.notes {
	margin-top: 40px;
	max-width: 600px;
	text-align: justify;
	line-height: 1.3rem;
	font-size: .9rem;
}

nav {
	margin-top: 20px;
}

button {
	border-radius: 0;
	border: none;
	background-color: #333;
	color: #fff;
	font-weight: 700;
	font-family: Roboto, sans-serif;
	padding: 6px 10px;
	cursor: pointer;
}

button:hover {
	background-color: #141414;
}

button:focus {
	outline: none;
}